@charset "UTF-8";
@font-face {
  font-family: 'nibdings';
  font-weight: normal;
  font-style: normal;
  src: url("node_modules/@nib-styles/v2-icons/dist/fonts/nibdings.eot");
  src: url("node_modules/@nib-styles/v2-icons/dist/fonts/nibdings.eot?#iefix") format("eot"), url("node_modules/@nib-styles/v2-icons/dist/fonts/nibdings.woff") format("woff"), url("node_modules/@nib-styles/v2-icons/dist/fonts/nibdings.ttf") format("truetype"), url("node_modules/@nib-styles/v2-icons/dist/fonts/nibdings.svg#nibdings") format("svg"); }

.scale-slider {
  background: #eee;
  padding: 30px; }

.scale-slider__icons {
  display: flex;
  margin: 0 0 10px 0;
  padding: 0 10px;
  list-style: none; }

.scale-slider__icon-holder {
  position: relative;
  display: inline-block;
  width: 25%;
  text-align: center;
  color: #888;
  font-size: 14px; }

.scale-slider__icon {
  cursor: pointer;
  font-style: normal; }
  .scale-slider__icon--single:before {
    font-family: 'nibdings';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    content: "";
    font-size: 32px; }
  .scale-slider__icon--couple:before {
    font-family: 'nibdings';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    content: "";
    font-size: 32px; }
  .scale-slider__icon--family:before {
    font-family: 'nibdings';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    content: "";
    font-size: 32px; }
  .scale-slider__icon--single-parent-family:before {
    font-family: 'nibdings';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    content: "";
    font-size: 32px; }

.scale-slider__input {
  -webkit-appearance: none;
  width: 75%;
  margin: 10px 12.5% 20px;
  padding: 0;
  background: transparent; }
  .scale-slider__input:focus {
    background: none;
    outline: none; }

.scale-slider__input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #888;
  border-radius: 25px;
  padding: 0;
  -webkit-appearance: none; }

.scale-slider__input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #888;
  border-radius: 25px;
  padding: 0; }

.scale-slider__input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #888;
  border-radius: 25px;
  padding: 0;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent; }

.scale-slider__input::-webkit-slider-thumb {
  height: 12px;
  width: 16px;
  background: #009623;
  cursor: pointer;
  margin-top: -4px;
  position: relative;
  -webkit-appearance: none; }
  .scale-slider__input::-webkit-slider-thumb:before {
    content: '';
    display: block;
    position: absolute;
    top: -16px;
    border: 8px solid transparent;
    border-bottom-color: #009623; }

.scale-slider__input::-moz-range-thumb {
  height: 12px;
  width: 16px;
  background: #009623;
  cursor: pointer;
  margin-top: -4px;
  position: relative;
  background-color: #009623;
  border: none;
  border-radius: 2px; }
  .scale-slider__input::-moz-range-thumb:before {
    content: '';
    display: block;
    position: absolute;
    top: -16px;
    border: 8px solid transparent;
    border-bottom-color: #009623; }

.scale-slider__input::-ms-thumb {
  height: 14px;
  width: 14px;
  display: block;
  background-color: #009623;
  border: none;
  border-radius: 2px; }

input[type=range]::-moz-focus-outer {
  border: 0; }

input[type="range"]::-ms-fill-upper {
  background-color: #ccc; }

input[type="range"]::-ms-fill-lower {
  background-color: #888; }

.scale-slider__label {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  font-size: 14px;
  color: #444;
  display: block;
  text-align: center;
  text-transform: uppercase; }
