@import '@nib-styles/v2-typography';
@import '@nib-styles/v2-icons/dist/mixin';
@import '@nib-styles/colors';

.scale-slider {
  background: $color-sneezy;
  padding: 30px;
}

// Scale Icons List

.scale-slider__icons {
  display: flex;
  margin: 0 0 10px 0;
  padding: 0 10px;
  list-style: none;
}

.scale-slider__icon-holder {
  position: relative;
  display: inline-block;
  width: 25%;
  text-align: center;
  color: $color-grumpy;
  font-size: 14px;
}

.scale-slider__icon {
  cursor: pointer;
  font-style: normal;

  &--single {
    @include v2-icon('single', $size: 'small');
  }

  &--couple {
    @include v2-icon('couple', $size: 'small');
  }

  &--family {
    @include v2-icon('family', $size: 'small');
  }

  &--single-parent-family {
    @include v2-icon('single-parent-family', $size: 'small');
  }

}

// Scale Range Slider Input

.scale-slider__input {
  -webkit-appearance: none;
  width: 75%;
  margin: 10px 12.5% 20px;
  padding: 0;
  background: transparent;

  &:focus {
    background: none;
    outline: none;
  }
}

@mixin scale-slider__track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: $color-grumpy;
  border-radius: 25px;
  padding: 0;
}

@mixin scale-slider__thumb {
  height: 12px;
  width: 16px;
  background: $color-queen-elizabeth;
  cursor: pointer;
  margin-top: -4px;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -16px;
    border: 8px solid transparent;
    border-bottom-color: $color-queen-elizabeth;
  }
}

.scale-slider__input::-webkit-slider-runnable-track {
  @include scale-slider__track;
  -webkit-appearance: none;
}

.scale-slider__input::-moz-range-track {
  @include scale-slider__track;
}

.scale-slider__input::-ms-track {
  @include scale-slider__track;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}

.scale-slider__input::-webkit-slider-thumb {
  @include scale-slider__thumb;
  -webkit-appearance: none;
}

.scale-slider__input::-moz-range-thumb {
  @include scale-slider__thumb;

  background-color: $color-queen-elizabeth;
  border: none;
  border-radius: 2px;
}

.scale-slider__input::-ms-thumb {
  height: 14px;
  width: 14px;
  display: block;
  background-color: $color-queen-elizabeth;
  border: none;
  border-radius: 2px;
}

// Extra browser specific hackiness

input[type=range]::-moz-focus-outer {
  border: 0;
}

input[type="range"]::-ms-fill-upper {
  background-color: $color-happy;
}
input[type="range"]::-ms-fill-lower {
  background-color: $color-grumpy;
}

// Label below input

.scale-slider__label {
  @include copy($color: 'grey');
  display: block;
  text-align: center;
  text-transform: uppercase;
}
